{% extends 'admin.html.twig' %}
{% block title %}Create new post{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.title,  {
                'row_attr': {'class': 'form-group mb-3 col-lg-4'},
                'attr': {'class': 'form-control'},
                'label_attr': {'class': 'form-label'}
                }) }}
        
        {{ form_row(form.body,  {
                'row_attr': {'class': 'form-group mb-3 col-lg-4'},
                'attr': {'class': 'form-control'},
                'label_attr': {'class': 'form-label'}
                }) }}               
        
        <div class="form-group mb-3 col-lg-4"><button class="btn btn-success">{{ button_label|default('Save') }}</button></div>
    {{ form_end(form) }}

{% endblock %}    

